## EDA of ICA datasets
#### Author: Youyeon Kim
#### Date: 26/Mar/2024

In [1]:
import pandas as pd
import numpy as np
import matplotlib
import seaborn as sb

In [2]:
data = pd.read_csv('..\data\Final_nflx_data_2018-2022.csv')
data.describe(include='all')

,date,Open,High,Low,Close,Adj Close,Volume,P_mean,P_sum,twt_count
count,1137,1137.000000,1137.000000,1137.000000,1137.000000,1137.000000,1.137000e+03,1137.000000,1137.000000,1137.000000
unique,1137,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,2018-10-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,402.212181,408.380897,395.573237,402.128012,402.128012,7.906694e+06,-0.070298,-40.118734,491.086192
std,NaN,116.443388,117.223957,115.429014,116.216659,116.216659,6.770185e+06,0.050140,124.198738,564.227246
min,NaN,163.960007,172.059998,162.710007,166.369995,166.369995,1.144000e+06,-0.258065,-3034.000000,156.000000
25%,NaN,319.880005,325.369995,313.500000,319.959991,319.959991,4.277600e+06,-0.100877,-41.000000,304.000000
50%,NaN,370.260010,375.899994,363.329987,369.609985,369.609985,6.179900e+06,-0.067485,-24.000000,387.000000
75%,NaN,502.339996,508.549988,495.000000,502.109985,502.109985,9.623100e+06,-0.035608,-12.000000,503.000000
max,NaN,692.349976,700.989990,686.090027,691.690002,691.690002,1.333875e+08,0.075630,110.000000,12404.000000

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1137 entries, 0 to 1136
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       1137 non-null   object
 1   Open       1137 non-null   float64
 2   High       1137 non-null   float64
 3   Low        1137 non-null   float64
 4   Close      1137 non-null   float64
 5   Adj Close  1137 non-null   float64
 6   Volume     1137 non-null   int64
 7   P_mean     1137 non-null   float64
 8   P_sum      1137 non-null   int64
 9   twt_count  1137 non-null   int64
dtypes: float64(6), int64(3), object(1)
memory usage: 89.0+ KB

In [7]:
data.head(-5)

,date,Open,High,Low,Close,Adj Close,Volume,P_mean,P_sum,twt_count
0,2018-01-02,196.100006,201.649994,195.419998,201.070007,201.070007,10966900,0.020833,10,480
1,2018-01-03,202.050003,206.210007,201.500000,205.050003,205.050003,8591400,0.071217,24,337
2,2018-01-04,206.199997,207.050003,204.000000,205.630005,205.630005,6029600,-0.018519,-4,216
3,2018-01-05,207.250000,210.020004,205.589996,209.990005,209.990005,7033200,-0.019737,-6,304
4,2018-01-08,210.020004,212.500000,208.440002,212.050003,212.050003,5580200,-0.007663,-2,261
...,...,...,...,...,...,...,...,...,...,...
1127,2022-06-24,183.500000,191.190002,181.839996,190.850006,190.850006,12424000,-0.065744,-38,578
1128,2022-06-27,191.770004,191.779999,182.389999,189.139999,189.139999,8363900,-0.035608,-12,337
1129,2022-06-28,189.199997,192.199997,179.369995,179.600006,179.600006,7185400,-0.088000,-33,375
1130,2022-06-29,179.550003,180.669998,175.100006,178.360001,178.360001,5766800,-0.082873,-30,362
1131,2022-06-30,177.070007,179.449997,170.300003,174.869995,174.869995,7894700,-0.066667,-28,420